
	
	ul{
		list-style-type:none;
		margin:0;
		/*margin-left:30%;*/
		padding:0;
		overflow:hidden;
		background-color: #fff;
	}
	li{float: left;
	}
	li a {
		display: block;
		color:black;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
	}
	li a:hover{
		background-color:#bfbfbf;
	}

	#navlist li
	{
		display:inline;
		list-style-type: none;
		padding-right: 20px;
	}

/*body{
	margin-top:1px;
	margin-bottom:20px;
	margin-right:90px;
	margin-left:90px;
}*/


#cf2 {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}
#cf2 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf2 img.transparent {
opacity:0;
}
#cf_onclick {
cursor:pointer;
}

/*	div.picture1{
		width:450;
		height:300;
		background-image:url(rachandlil.jpg);
		margin:0;
		padding:0;
	}



<div id="rachandlil" class="img">
	<img class="bottom" src="rachandlil.jpg"/>
	<img class="top" src="senior2.jpg"/>
</div>*/

  @keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}



	